.container {
  padding: 8px;
  background-color: #161616;
}

.card {
  border-radius: 6px;
  margin-bottom: 8px;
  background-color: rgb(85, 173, 255);
  border: 1px solid white;
}

.site {
  padding: 0px;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #161616;
  padding-left: 5px;
}

.title {
  color: #161616;
  padding: 2px 2px 2px 5px;
}

.loading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161616;
}

.loadinglogo {
  background-image: url('../public/favicon.ico');
  height: 50px;
  width: 50px;
  background-size: cover;
  background-repeat: no-repeat;

  animation: logo 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

.loadingmessage {
  color: white;
  margin: 10px;
}

@keyframes logo {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}